flowN8N.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "path": "data",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "a6d1d50d-d88b-4801-97d4-b2e1068a23d1",
      "name": "Webhook",
      "webhookId": "ce1d06d8-b5c7-46d3-a6f0-f289c315b3ab"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Agoh0EsVfmOoCpM_jazksHNyDA7JwcZfZ-W6mkOwO1A",
          "mode": "list",
          "cachedResultName": "สำเนาของ ลงทะเบียน (การตอบกลับ)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Agoh0EsVfmOoCpM_jazksHNyDA7JwcZfZ-W6mkOwO1A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 830268556,
          "mode": "list",
          "cachedResultName": "การตอบแบบฟอร์ม 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Agoh0EsVfmOoCpM_jazksHNyDA7JwcZfZ-W6mkOwO1A/edit#gid=830268556"
        },
        "filtersUI": {
          "values": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "90119633-b46c-42f3-a6df-be9db200ff14",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "N77UxEeIHdfyl1u0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1baa647-dba4-406b-a1d8-837b7939b467",
              "name": "tdate",
              "value": "={{ $json['ประทับเวลา'] }}",
              "type": "string"
            },
            {
              "id": "551a360f-075d-45c0-b023-ef1acfa62815",
              "name": "id",
              "value": "={{ $json['รหัสนักศึกษา'] }}",
              "type": "number"
            },
            {
              "id": "e6ed87a9-859d-4d30-a915-d94977ff5325",
              "name": "fullname",
              "value": "={{ $json['ชื่อ-นามสกุล'] }}",
              "type": "string"
            },
            {
              "id": "cefb6e98-cefa-4f0a-8415-0d3064c8dac2",
              "name": "department",
              "value": "={{ $json['คณะ'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "5cba812c-e3c4-483d-b494-837017664f98",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        624,
        0
      ],
      "id": "9c534864-11b4-436c-aa4a-e7b6882836a2",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "37b49771-c76c-4de3-b679-47f605973444",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9f526523022c0abdd23b4e79323a9e848df7a1740a4d546c823313e1bdfda60c"
  },
  "id": "BzJLLN859knHxqs0",
  "tags": []
}